<div class="login-page">
<mat-card class="login-box">
    <mat-card-title>Login to Spotify</mat-card-title>
    <mat-card-content>
        <p>Audiobook Club works with Spotify to provide seamless audiobook access.</p>
        <p>To get started, please log in with your Spotify account.</p>
        <button matButton="tonal" (click)="login()">
            <span>Login with Spotify</span>
            <mat-icon svgIcon="spotify"></mat-icon>
        </button>
    </mat-card-content>
    <mat-card-footer>
        Audiobook Club - Powered by Spotify
    </mat-card-footer>
</mat-card>
</div>