@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --purple: #CDC7E5;
    --dark-purple: #9B8FCB;
}

body {
    background-color: var(--purple);
    color: var(--black);
    font-family: 'Playfair Display', serif;
    margin: 0;
    height: 100%;
}