@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --purple: #CDC7E5;
    --dark-purple: #6b6195;
    --white: #FFFFFF;
}

body {
    background-color: var(--purple);
    color: var(--dark-purple);
    font-family: 'Playfair Display', serif;
    margin: 0;
    height: 100%;
}

// Overwriting Angular Material Styles for generic components
//This will probably take a while to perfect

// -----------------------------------------------------

//Card

mat-card-title {
    padding: 1rem !important; 
    border-bottom: 1px solid rgba(155, 143, 203, 0.2) !important;
}

mat-card-content {
    padding: 1rem !important;
}

mat-card-footer {
  padding: 1rem !important;
  border-top: 1px solid rgba(155, 143, 203, 0.2) !important;
}

//-------------------------------------------------------

